<div class="container">
	<div class="row">
	    <div class="col-xs-12">
	    	<h2>会員情報</h2>
	    	<div class="col-xs-offset-9">
            	<%= link_to "登録情報を編集する",edit_user_path(@user.id),class: "btn btn-success" %>
            </div>
		    <table class="my_table">
		    	<thead>
		    	    <tr>
		    	    	<th></th>
		    	    	<th></th>
		    	    	<th></th>
		    	    	<th></th>
		    	    </tr>
		    	</thead>
		    	<tbody>
		    	  	<tr>
		    	  		<td></td>
		    	  		<td></td>
		    	  		<td></td>
		    	  		<td></td>
		    	  	</tr>
		    	</tbody>
	    	</table>
	    </div>
	</div>
</div>
