<div class="container">
	<div class="row">
		<div class="col-xs-12">
				<div class="about-title-wrapper col-xs-9 offset-xs-2">
					<h2 class="about-title">サイト概要</h2>
					    <h4 class="about-title">
					    ・なりたい自分がある方へ、目標設定とタスク管理を楽しく・わかりやすくするためのサイトです。
				    <h2 class="about-title">サイトテーマ</h2>
					    <h4 class="about-title">
					    ・目標を投稿し共有することで、達成に向けての意欲を高めるのに活用する目的<br>
					    ・「個人での努力の継続」を目標の可視化、ユーザー同士での交流機能によって手助けする目的</h4>
					 <h3 class="about-title">・ゲストユーザーとしてどなたでもログインいただけます。<br>
					 	<%= link_to ">>ログイン画面へ", new_user_session_path %></h3>
				</div>
			<div class="col-xs-4">
				    <h3 class="function">①目標投稿機能</h3><br>
				    <h3 class="function">②検索機能</h3>
				    <h3 class="function">③フォロー機能</h3>
			</div>
			<div class="col-xs-8">
				    <h3 class="function">自分が決めた目標を投稿し確認することができます。<br>
				    他のユーザーからの「いいね」や「コメント」も反映されます。</h3>
				    <h3 class="function">サイト内のユーザー名や投稿された目標を検索し表示できます。<br></h3>
				    <h3 class="function">ユーザー同士でのフォローもできますので、<br>
				    交流するうえで役立ててみてください！</h3>
			</div>
		</div>
	</div>
</div>

