<div class="container">
	<div class="row">
	    <div class="col-xs-12">
	    	<h2>目標一覧</h2><br>
	    	<div class="col-xs-offset-9">
            	<%= link_to "新しい目標を投稿する！",new_goal_path,class: "btn btn-primary" %>
            </div>
		    <table class="goal_table">
		    	<thead>
		    	    <tr>
		    	    	<th></th>
		    	    	<th></th>
		    	    	<th></th>
		    	    	<th></th>
		    	    </tr>
		    	</thead>
		    	<tbody>
		    	  	<tr>
		    	  		<td></td>
		    	  		<td></td>
		    	  		<td></td>
		    	  		<td></td>
		    	  	</tr>
		    	</tbody>
	    	</table>
	    </div>
	</div>
</div>
