<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>どんな目標を立てますか？</h2><br>
			<%= form_for (@goal) do |f| %>
				<div class="field">
				    <%= f.label :目標 %>　　　　　　
				    <%= f.text_field :content,placeholder: "達成、挑戦したいこと" %>
				</div>
				<br>
				<%= f.submit "目標を決定する！", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>