// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-title{
	line-height: 35px;
    border-bottom: 1px solid red;
}
.function{
	color: blue;
	padding: 15px;
}