// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   .top{
        position:relative;
        padding-top: 0px;
    }
    .top h1{
        position:absolute;
        top:100px;
        left:0px;
        width:100%;
        text-align:center;
        color:#fff;
        line-height:150%;
        background-color:#000;
        filter:alpha(opacity=60);
        -moz-opacity: 0.6;
        opacity: 0.6;
    }
    .top h4{
        position:absolute;
        top:250px;
        left:0px;
        width:100%;
        text-align:center;
        color:#fff;
        line-height:150%;
        background-color:#000;
        filter:alpha(opacity=60);
        -moz-opacity: 0.6;
        opacity: 0.6;
    }
    .top span{
        position:absolute;
        top:450px;
        left:0px;
        width:100%;
        text-align:center;
        color:black;
        line-height:150%;
        
        filter:alpha(opacity=60);
        -moz-opacity: 0.6;
        opacity: 0.6;
    }

.about-title{
	line-height: 35px;
    border-bottom: 2px solid gold;
}
.function{
	color: blue;
	padding: 5px;
}