// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field{
    margin: 15px;
  }

.user-icon{
	border-radius: 50%;
}
.user-title{
	border-bottom: 1px solid black;
}
.user_table{
	margin: 10px;
	line-height: 200%;
}